<ion-list type="list-inset">
    <ion-item class="item-divider listheader" ng-click="toggle(7)">
        Foto's
    </ion-item>
    <ion-item class="row" ng-if="toShowArr[7]" ng-cloak>
        <div class="col fixedwidth-100">
            <div class="button add-photo padding ion-ios-camera" ng-click="takePicture()"></div>
        </div>
        <div class="col photo-container">
            <ion-scroll direction="x" height="100px">
                <img alt="" ng-repeat="photo in allPhotos" ng-src="{{::photo}}" class="photo cover" ng-click="showImages($index)" />
            </ion-scroll>
        </div>
    </ion-item>
</ion-list>
