<ion-list type="list-inset">
    <ion-item class="item-divider positive">
        Foto's
    </ion-item>
    <ion-item >
        <div class="button add-photo padding" ng-click="takePicture()">
            <img src="../../../../assets/img/add_picture.png" alt="" />
        </div>
        <div class="photo-container">
            <ion-scroll direction="x" class="photo-container">
                <img alt="" collection-repeat="photo in allPhotos" ng-src="{{photo}}" class="photo cover" ng-click="showImages($index)" />
            </ion-scroll>
        </div>
    </ion-item>
</ion-list>