<ion-view side="center">
    <ion-nav-title side="center">Planning</ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button" ng-click="refresh()"><i class="icon ion-refresh positive"></i></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true" padding="true">
        <div class="row nopadding">
            <ion-item class="col noborder nopadding"><h4 class="positive">Laatst bijgewerkt om: <b>{{updateTime}}</b></h4></ion-item>
            <ion-item class="col noborder nopadding alignright fixedwidth-210" ng-click="viewQueue()"><h4 class="positive">Orders in wachtrij voor verzending: <b>{{queueLength}}</b></h4></ion-item>
        </div>
<!--         <button class="button" ng-click="addNotification()">Add notification</button>
        <button class="button" ng-click="isScheduled()">Is Scheduled</button> -->
        <div ng-repeat="(key, value) in orders | groupBy:'plandatum':true">
            <div class="title">
                <h3 ng-if="key == date" style="margin-top: 40px;">Vandaag, {{::key}}</h3>
                <h3 ng-if="key != date" style="margin-top: 40px;">{{::key}}</h3>
            </div>
            <hr/>
            <div class="card" ng-repeat="o in value" ng-click="details(o.orderid)">
                <div class="item item-text-wrap cardwrap">
                    <div class="row">
                        <div class="col col-center"><h1> {{::o.tijd}}</h1></div>
                        <div class="col col-25 col-center">
                            <h3><t class="positive">Order No.:</t> {{::o.orderid}}</h3>
                            <h3><t class="positive">Status:</t> {{o.status}}</h3>
                        </div>
                        <div class="col col-25 col-center">
                            <h3><t class="icon ion-person positive"></t> {{::o.klant.naam}}</h3>
                            <h3><t class="icon ion-ios-telephone positive"></t> {{::o.klant.telefoon}}</h3>
                            <h3><t class="icon ion-ios-email-outline positive"></t> {{::o.klant.email}}</h3>
                        </div>
                        <div class="col col-25 col-center">
                            <h3><t class="positive">Aansluitadres:</t></h3>
                            <h3>{{::o.klant.straat}}</h3>
                            <h3>{{::o.klant.postcode}}, {{::o.klant.plaats}}</h3>
                        </div>
                        <div class="col col-10 col-center arrow"><h1 class="icon ion-chevron-right"></h1></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="connection">
        <i ng-class="{Online: 'balanced', Offline: 'assertive'}[connection]" class="icon ion-ios-circle-filled"></i> {{connection}}
    </div>
</ion-view>