<ion-view side="center">
    <ion-content has-bouncing="true" class="padding">
        <div class="title">
            <h2>Buitendienst Mobile App</h2>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Gebruikersnaam" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Wachtwoord" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login()">Log In</button>
    </ion-content>
</ion-view>