<div class="modal transparent image-modal has-header">
    <ion-header-bar class='bar-stable'>
        <h1 class='title'> Foto's </h1>
        <button class="button signature-back-button" ng-click="closePicture()"><i class="icon ion-ios-arrow-back"></i> Terug</button>
        <button class="button button-clear icon ion-trash-a pull-right" ng-click="deletePicture()"></button>
    </ion-header-bar>
    <ion-slide-box show-pager="true" active-slide="activeSlide">
        <ion-slide ng-repeat="photo in allPhotos">
            <ion-content direction="x">
                <img ng-src="{{::photo}}" class="fullscreen-image" />
            </ion-content>
        </ion-slide>
    </ion-slide-box>
</div>