<ion-list type="list-inset" ng-if="showTickets">
    <ion-item class="item-divider listheader" ng-click="toggle(0)">
        Ticketdetails
    </ion-item>
    <ion-item ng-show="toShowArr[0]" class="cssFade">
        <ion-item class="row">
            <div class="col">
                <ion-item class="row item-text-wrap noborder">
                    <div class="col fixedwidth">Ticket ID:</div>
                    <div class="col bold">{{::order.ticket.ticketid}}</div>
                </ion-item>
                <ion-item class="row item-text-wrap noborder">
                    <div class="col fixedwidth">Datum</div>
                    <div class="col bold">{{::order.ticket.datum}}</div>
                </ion-item>
                <ion-item class="row item-text-wrap noborder">
                    <div class="col fixedwidth">Omschrijving:</div>
                    <div class="col bold">{{::order.ticket.omschrijving}}</div>
                </ion-item>
            </div>
        </ion-item>
        <ion-item class="row noborder-top">
            <div class="col">
                <ion-item class="row item-text-wrap">
                    <div class="col bold fixedwidth-175">Datum</div>
                    <div class="col bold">Notitie</div>
                    <div class="col bold fixedwidth-175">Verantw.</div>
                </ion-item>
                <ion-item class="row item-text-wrap" ng-repeat="t in order.ticket.ticketregels track by $index">
                    <div class="col fixedwidth-175">{{::t.datum}}</div>
                    <div class="col" ng-click="toggleFilter(t.notitie, $index)">{{t.notitie}}</div>
                    <div class="col fixedwidth-175">{{::t.verantw}}</div>
                </ion-item>
            </div>
        </ion-item>
    </ion-item>
</ion-list>