/*.bar-positive {*/
    /*box-shadow: 0px 5px 5px grey;*/
/*}*/

/*.card.list {*/
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
/*}*/

/*.item.item-avatar-left {*/
    /*background-color: #e0e2dc;*/
/*}*/

/*.item.item-body img {*/
    /*max-width: 100% !important;*/
    /*max-height: 100% !important;*/
/*}*/

.item-divider {
    background-color: #FAFAFA !important;
}

.bold {
    font-weight: bold !important;
}

.somepadding {
    padding: 15px 0px !important;
}

.title {
    text-align: center;
}

.listpadding .list {
    padding-bottom: 40px !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.connection {
    position: fixed;
    z-index: 2000;
    bottom: 0;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
    color: white;
    background-color: #387ef5;
}