<ion-list type="list-inset">
    <ion-item class="item-divider listheader" ng-click="toggle(2)">
        Werkzaamheden
    </ion-item>
    <ion-item ng-show="toShowArr[2]" class="cssFade">
        <div class="list list-inset nomargin-top">
            <ion-item class="item-divider" ng-switch="toShowArr[3]">
                <i class="icon ion-ios-list-outline"></i> Materialen
                <button class="custombtn removeAfterFinish" ng-click="toggle(3)" ng-switch-when="false">
                    <i class="icon ion-plus"></i>
                </button>
                <button class="custombtn removeAfterFinish" ng-click="toggle(3)" ng-switch-when="true">
                    <i class="icon ion-minus"></i>
                </button>
            </ion-item>
            <ion-item class="row item-text-wrap" ng-show="showMateriaalHeader">
                <div class="col fixedwidth-60 bold">Aantal</div>
                <div class="col bold">Naam</div>
                <div class="col bold">Specificaties</div>
                <div class="col fixedwidth"></div>
            </ion-item>
            <ion-item id="materiaal{{$index}}" class="row item-text-wrap" ng-repeat="m in materialen.materialen track by $index">
                <div class="col fixedwidth-60">{{m.aantal}}</div>
                <div class="col">{{m.naam}}</div>
                <div class="col">{{m.specificatie}}</div>
                <div class="col fixedwidth"><button class="inline-button moreleft removeAfterFinish" ng-click="deleteMateriaal($index)"><i class="icon ion-trash-a"></i></button> <button class="inline-button removeAfterFinish" ng-click="editMateriaal($index)"><i class="icon ion-edit"></i></button></i></div>
            </ion-item>
            <ion-item ng-show="toShowArr[3]" class="row item-text-wrap addBackground">
                <div class="col">
                    <ion-item class="row item-text-wrap noborder addTitle addBackground" ng-switch="materiaalEdited">
                        <div class="col col-center" ng-switch-when="false">Nieuw materiaal<hr/></div>
                        <div class="col col-center" ng-switch-when="true">Materiaal wijzigen<hr/></div>
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder addBackground">
                        <div class="col col-center fixedwidth">Aantal:</div>
                        <div class="col">
                            <button class="aantal_btn left" ng-click="count(-1)"><i class="icon ion-minus"></i></button>
                            <div class="aantal_input left bold">{{total}}</div>
                            <button class="aantal_btn left" ng-click="count(1)"><i class="icon ion-plus"></i></button>
                        </div>
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder addBackground">
                        <div class="col col-center fixedwidth">Naam:</div>
                        <div class="col">
                            <button id="selectmateriaal" style="font-size: 16px" class="button button-small button-full button-dark" ng-click="toggle(4)">
                                {{materiaal.naam || "Selecteer een materiaal..."}} <i class="icon ion-arrow-down-b"></i>
                            </button>
                            <ion-item class="row noborder nopadding">
                                <div class="col nopadding cssFade addBackground" ng-repeat="row in activities.materialen" ng-show="toShowArr[4]">
                                    <div class="list addBackground">
                                        <label class="item item-radio" ng-click="toShowArr[4]=false" ng-repeat="m in row">
                                            <input type="radio" ng-model="$parent.materiaal.naam" name="materialen" ng-value="m">
                                            <div class="item-content">
                                                {{::m}}
                                            </div>
                                            <i class="radio-icon ion-checkmark"></i>
                                        </label>
                                    </div>
                                </div>
                            </ion-item>
                            <label class="item item-input" ng-if="materiaal.naam == 'Anders, namelijk:'">
                                <textarea id="naam" msd-elastic="\n" ng-model="customMateriaalNaam" placeholder="Geef de naam van het materiaal op"></textarea>
                            </label>
                        </div>
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder addBackground">
                        <div class="col fixedwidth">Specificatie:</div>
                        <div class="col">
                            <label class="item item-input">
                                <textarea id="specificatie_materiaal" msd-elastic="\n" ng-model="specificatie_materiaal" placeholder="(Optioneel)"></textarea>
                            </label>
                        </div>
                    </ion-item>
                </div>
                <div class="col col-center fixedwidth-60 table-cell">
                    <button class="input_btn button-clear" ng-click="savemateriaal();toShowArr[4]=false"><h1 class="icon ion-checkmark-circled balanced"></h1></button><br /><br />
                    <button class="input_btn button-clear" ng-click="resetmateriaal()"><h1 class="icon ion-ios-close assertive"></h1></button>
                </div>
            </ion-item>
        </div>
        <ion-list type="list-inset">
            <ion-item class="item-divider" ng-switch="toShowArr[5]">
                <i class="icon ion-wrench"></i> Uitgevoerde werkzaamheden
                <button class="custombtn removeAfterFinish" ng-click="toggle(5)" ng-switch-when="false">
                    <i class="icon ion-plus"></i>
                </button>
                <button class="custombtn removeAfterFinish" ng-click="toggle(5)" ng-switch-when="true">
                    <i class="icon ion-minus"></i>
                </button>
            </ion-item>
            <ion-item class="row item-text-wrap" ng-show="showWerkzaamheidHeader">
                <div class="col bold">Beschrijving</div>
                <div class="col bold">Specificaties</div>
                <div class="col fixedwidth"></div>
            </ion-item>
            <ion-item id="werkzaamheid{{$index}}" class="row item-text-wrap" ng-repeat="w in werkzaamheden.werkzaamheden track by $index">
                <div class="col">{{w.beschrijving}}</div>
                <div class="col">{{w.specificatie}}</div>
                <div class="col fixedwidth"><button class="removeAfterFinish inline-button moreleft" ng-click="deleteWerkzaamheid($index)"><i class="icon ion-trash-a"></i></button> <button class="removeAfterFinish inline-button" ng-click="editWerkzaamheid($index)"><i class="icon ion-edit"></i></button></i></div>
            </ion-item>
            <ion-item ng-show="toShowArr[5]" class="row item-text-wrap addBackground">
                <div class="col">
                    <ion-item class="row item-text-wrap noborder addTitle addBackground" ng-switch="werkzaamheidEdited">
                        <div class="col col-center" ng-switch-when="false">Nieuwe werkzaamheid<hr/></div>
                        <div class="col col-center" ng-switch-when="true">Werkzaamheid wijzigen<hr/></div>
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder addBackground">
                        <div class="col col-center fixedwidth">Beschrijving:</div>
                        <div class="col">
                            <button id="selectmateriaal" style="font-size: 16px" class="button button-small button-full button-dark" ng-click="toggle(6)">
                                {{werkzaamheid.beschrijving || "Selecteer een werkzaamheid..."}} <i class="icon ion-arrow-down-b"></i>
                            </button>
                            <ion-item class="row noborder nopadding">
                                <div class="col nopadding cssFade" ng-repeat="row in activities.werkzaamheden" ng-show="toShowArr[6]">
                                    <div class="list">
                                        <label class="item item-radio" ng-click="toShowArr[6]=false" ng-repeat="w in row">
                                            <input type="radio" ng-model="$parent.werkzaamheid.beschrijving" name="werkzaamheden" ng-value="w">
                                            <div class="item-content">
                                                {{::w}}
                                            </div>
                                            <i class="radio-icon ion-checkmark"></i>
                                        </label>
                                    </div>
                                </div>
                            </ion-item>
                            <label class="item item-input" ng-if="werkzaamheid.beschrijving == 'Anders, namelijk:'">
                                <textarea id="beschrijving" msd-elastic="\n" ng-model="customWerkzaamheidBeschrijving" placeholder="Beschrijving van de uitgevoerde werkzaamheid"></textarea>
                            </label>
                        </div>
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder addBackground">
                        <div class="col fixedwidth">Specificatie:</div>
                        <div class="col">
                            <label class="item item-input">
                                <textarea id="specificatie_werkzaamheid" msd-elastic="\n" ng-model="specificatie_werkzaamheid" placeholder="(Optioneel)"></textarea>
                            </label>
                        </div>
                    </ion-item>
                </div>
                <div class="col col-center fixedwidth-60">
                    <button class="input_btn button-clear" ng-click="savewerkzaamheid();toShowArr[6]=false"><h1 class="icon ion-checkmark-circled balanced"></h1></button><br /><br />
                    <button class="input_btn button-clear" ng-click="resetwerkzaamheid()"><h1 class="icon ion-ios-close assertive"></h1></button>
                </div>
            </ion-item>
        </ion-list>
    </ion-item>
</ion-list>