<ion-view>
    <ion-nav-title>Order No. {{order.orderid}}</ion-nav-title>
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button" ng-click="getPhoto()"><i class="icon ion-android-camera positive"></i></button>-->
    <!--</ion-nav-buttons>-->
    <ion-content has-bouncing="true">
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Klantgegevens
            </ion-item>
            <ion-item class="row">
                <div class="col">
                    <ion-item class="row">
                        <div class="col bold"> Naam: </div>
                        <div class="col"> {{order.klant.naam}}</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col bold"> Postcode: </div>
                        <div class="col"> {{order.klant.postcode}}</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col bold"> Adres: </div>
                        <div class="col"> {{order.klant.adres}}</div>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item class="row">
                        <div class="col bold"> Telefoonnr: </div>
                        <div class="col"> {{order.klant.telefoon}}</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col bold"> Woonplaats: </div>
                        <div class="col"> {{order.klant.plaats}}</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col bold"> E-mailadres: </div>
                        <div class="col"> {{order.klant.email}}</div>
                    </ion-item>
                </div>
            </ion-item>
            <ion-item>
                <ion-list type="list-inset">
                    <ion-item class="item-divider">
                        Ticket Historie
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-10 bold">ID</div>
                        <div class="col col-67 bold">Beschrijving</div>
                        <div class="col col-10 bold">Datum</div>
                        <div class="col bold">Supporter</div>
                    </ion-item>
                    <ion-item class="row item-text-wrap" ng-repeat="t in order.klant.tickets">
                        <div class="col col-10">{{t.ticketid}}</div>
                        <div class="col col-67">{{t.beschrijving}}</div>
                        <div class="col col-10">{{t.datum}}</div>
                        <div class="col">{{t.supporter}}</div>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Installatiegegevens
            </ion-item>
            <ion-item>
                <ion-list type="list-inset">
                    <ion-item class="item-divider">
                        Internet
                    </ion-item>
                    <ion-item class="row">
                        <div class="col">
                            <ion-item class="row">
                                <div class="col bold"> Netwerk: </div>
                                <div class="col"> {{order.klant.abonnement.internet.netwerk}}</div>
                            </ion-item>
                            <ion-item class="row">
                                <div class="col bold"> Snelheid: </div>
                                <div class="col"> {{order.klant.abonnement.internet.snelheid}}</div>
                            </ion-item>
                            <ion-item class="row">
                                <div class="col bold"> IP toewijzing: </div>
                                <div class="col"> {{order.klant.abonnement.internet.iptoewijzing}}</div>
                            </ion-item>
                        </div>
                        <div class="col">
                            <ion-item class="row">
                                <div class="col bold"> Login: </div>
                                <div class="col"> {{order.klant.abonnement.internet.login}}</div>
                            </ion-item>
                            <ion-item class="row">
                                <div class="col bold"> Wachtwoord: </div>
                                <div class="col"> {{order.klant.abonnement.internet.wachtwoord}}</div>
                            </ion-item>
                        </div>
                    </ion-item>
                </ion-list>
                <ion-list type="list-inset">
                    <ion-item class="item-divider">
                        Televisie
                    </ion-item>
                    <ion-item class="row">
                        <div class="col">
                            <ion-item class="row">
                                <div class="col bold"> Soort: </div>
                                <div class="col"> {{order.klant.abonnement.televisie.soort}}</div>
                            </ion-item>
                        </div>
                        <div class="col">
                            <ion-item class="row">
                                <div class="col bold"> Accountcode: </div>
                                <div class="col"> {{order.klant.abonnement.televisie.accountcode}}</div>
                            </ion-item>
                            <ion-item class="row">
                                <div class="col bold"> Pincode: </div>
                                <div class="col"> {{order.klant.abonnement.televisie.pincode}}</div>
                            </ion-item>
                        </div>
                    </ion-item>
                </ion-list>
                <ion-list type="list-inset">
                    <ion-item class="item-divider">
                        Telefoon
                    </ion-item>
                    <ion-item class="row">
                        <div class="col">
                            <ion-item class="row">
                                <div class="col bold"> Telefoonnummer: </div>
                                <div class="col"> {{order.klant.abonnement.telefoon.telefoonnummer}}</div>
                            </ion-item>
                        </div>
                        <div class="col">
                            <ion-item class="row">
                                <div class="col bold"> Login: </div>
                                <div class="col"> {{order.klant.abonnement.telefoon.login}}</div>
                            </ion-item>
                            <ion-item class="row">
                                <div class="col bold"> Wachtwoord: </div>
                                <div class="col"> {{order.klant.abonnement.telefoon.wachtwoord}}</div>
                            </ion-item>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Werkzaamheden
            </ion-item>
            <ion-item>
                <ion-list type="list-inset">
                    <ion-item class="item-divider">
                        Artikelen
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-10 bold">Aantal</div>
                        <div class="col bold">Naam</div>
                        <div class="col bold">Specificaties</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-10">1</div>
                        <div class="col">Kabels gelegd</div>
                        <div class="col">20M</div>
                    </ion-item>
                </ion-list>
                <ion-list type="list-inset">
                    <ion-item class="item-divider">
                        Uitgevoerde werkzaamheden
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-67 bold">Beschrijving</div>
                        <div class="col bold">Specificaties</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-67">Installatie uitgevoerd</div>
                        <div class="col"></div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-67">Modem configuratie</div>
                        <div class="col"></div>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Foto's
            </ion-item>
            <ion-item>
                <img ng-src="../img/ionic.png" />
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Opmerkingen
            </ion-item>
            <ion-item>
                <label class="item item-input">
                    <textarea placeholder="Hier is ruimte voor eventuele opmerkingen"></textarea>
                </label>
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Afronding
            </ion-item>
            <ion-item class="row">
                <div class="col">
                    <ion-item class="row">
                        <div class="col bold"> Datum: </div>
                        <div class="col"> {{date | date:'dd-MM-yyyy'}}</div>
                    </ion-item>
                    <ion-item class="row">
                        <div class="col bold">Naam Monteur:</div>
                        <div class="col">Arno</div>
                        <!-- TO DO: aan de hand van de inloggegevens!!!-->
                    </ion-item>
                    <ion-item class="row">
                        <div class="col bold">Aantal gewerkte uren:</div>
                        <div class="col">1</div>
                    </ion-item>
                    <ion-item class="row">
                        <button class="button button-block button-stable">
                            Werkbon invullen
                        </button>
                    </ion-item>
                </div>
                <div class="col">
                        <div class="list list-inset" style="margin: 0px !important;">
                            <ion-item class="item-divider">
                                Handtekening
                            </ion-item>
                            <ion-item>
                                <canvas id='signatureCanvas' style='width: 100%; height: 150px; border: 1px solid #545454;'></canvas>
                            </ion-item>
                        </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-item>
            <button class="button button-positive">Opslaan</button> <button class="button button-positive">Opslaan en Verzenden</button>
        </ion-item>
    </ion-content>
</ion-view>