<ion-view title="Orderdetails Order No. {{order.orderid}}">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="getPhoto()"><i class="icon ion-android-camera positive"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list type="list list-inset">
            <ion-item class="item-divider positive">
                Klantgegevens
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Naam: </div>
                <div class="col col-20"> {{order.klant.naam}}</div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Postcode: </div>
                <div class="col col-10"> {{order.klant.postcode}}</div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Adres: </div>
                <div class="col col-20"> {{order.klant.adres}}</div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Telefoonnr: </div>
                <div class="col col-20"> {{order.klant.telefoon}}</div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Woonplaats: </div>
                <div class="col col-20"> {{order.klant.plaats}}</div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> E-mailadres: </div>
                <div class="col col-20"> {{order.klant.email}}</div>
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Ticket Historie
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-10 list-header">TicketId</div>
                        <div class="col list-header">Beschrijving</div>
                        <div class="col list-header">Datum</div>
                        <div class="col list-header">Ingevoerd door</div>
                    </ion-item>
                    <ion-item class="row" ng-repeat="t in order.klant.tickets">
                        <div class="col col-10">{{t.ticketid}}</div>
                        <div class="col">{{t.beschrijving}}</div>
                        <div class="col">{{t.datum}}</div>
                        <div class="col">{{t.supporter}}</div>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-list type="list list-inset">
            <ion-item class="item-divider positive">
                Installatiegegevens
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Internet
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Netwerk: </div>
                        <div class="col col-20"> {{order.klant.abonnement.internet.netwerk}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Snelheid: </div>
                        <div class="col col-10"> {{order.klant.abonnement.internet.snelheid}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> IP toewijzing: </div>
                        <div class="col col-20"> {{order.klant.abonnement.internet.ip-toewijzing}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Login: </div>
                        <div class="col col-20"> {{order.klant.abonnement.internet.login}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Wachtwoord: </div>
                        <div class="col col-20"> {{order.klant.abonnement.internet.wachtwoord}}</div>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Televisie
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Soort: </div>
                        <div class="col col-20"> {{order.klant.abonnement.televisie.soort}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Accountcode: </div>
                        <div class="col col-10"> {{order.klant.abonnement.televisie.accountcode}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Pincode: </div>
                        <div class="col col-20"> {{order.klant.abonnement.televisie.pincode}}</div>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Telefoon
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Telefoonnummer: </div>
                        <div class="col col-20"> {{order.klant.abonnement.telefoon.telefoonnummer}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Login: </div>
                        <div class="col col-10"> {{order.klant.abonnement.telefoon.login}}</div>
                    </ion-item>
                    <ion-item class="row responsive-lg">
                        <div class="col col-20 bold"> Wachtwoord: </div>
                        <div class="col col-20"> {{order.klant.abonnement.telefoon.wachtwoord}}</div>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-list type="list list-inset">
            <ion-item class="item-divider positive">
                Werkzaamheden
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Artikelen
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-10 list-header">Aantal</div>
                        <div class="col list-header">Naam</div>
                        <div class="col list-header">Specificaties</div>
                    </ion-item>
                    <ion-item class="row">
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Uitgevoerde werkzaamheden
                    </ion-item>
                    <ion-item class="row">
                        <div class="col col-20 list-header">Beschrijving</div>
                        <div class="col col-20 list-header">Specificaties</div>
                    </ion-item>
                    <ion-item class="row">
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-list type="list list-inset">
            <ion-item class="item-divider positive">
                Foto's
            </ion-item>
            <ion-item>
                <img ng-src="../img/ionic.png" />
            </ion-item>
        </ion-list>
        <ion-list type="list list-inset">
            <ion-item class="item-divider positive">
                Opmerkingen
            </ion-item>
            <ion-item>
                <label class="item item-input">
                    <textarea placeholder="Hier is ruimte voor eventuele opmerkingen"></textarea>
                </label>
            </ion-item>
        </ion-list>
        <ion-list type="list list-inset">
            <ion-item class="item-divider positive">
                Afronding
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Datum: </div>
                <div class="col col-20"> {{date | date:'yyyy-MM-dd'}}</div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Naam Monteur: </div>
                <div class="col col-10"> Arno </div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <div class="col col-20 bold"> Aantal gewerkte uren: </div>
                <div class="col col-20"> 1 </div>
            </ion-item>
            <ion-item class="row responsive-lg">
                <button class="button button-stable">
                    Werkbon invullen
                </button>
            </ion-item>
            <ion-item>
                <ion-list type="list list-inset">
                    <ion-item class="item-divider">
                        Handtekening
                    </ion-item>
                    <ion-item>
                        <canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <ion-item>
            <button class="button button-positive"> Opslaan</button> <button class="button button-positive"> Opslaan en Verzenden </button>
        </ion-item>
    </ion-content>
</ion-view>