<ion-view side="left" title="Dashboard" align-title="center">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="refresh()"><i class="icon ion-refresh positive"></i></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list type="card">
            <ion-item class="item-divider row responsive-lg positive">
                <div class="col">Tijd</div>
                <div class="col">Status</div>
                <div class="col">Order No.</div>
                <div class="col">Naam</div>
                <div class="col">Adres</div>
                <div class="col">Postcode</div>
                <div class="col">Plaats</div>
                <div class="col">Telefoon</div>
            </ion-item>
            <ion-item class="row responsive-lg" ng-repeat="o in orders" ng-click="details(o.orderid)">
                <div class="col">{{o.tijd}}</div>
                <div class="col">{{o.status}}</div>
                <div class="col">{{o.orderid}}</div>
                <div class="col">{{o.klant.naam}}</div>
                <div class="col">{{o.klant.adres}}</div>
                <div class="col">{{o.klant.postcode}}</div>
                <div class="col">{{o.klant.plaats}}</div>
                <div class="col">{{o.klant.telefoon}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>