<ion-view side="center" cache-view="false" ng-cloak>
    <ion-nav-title side="center">Order No. {{::order.orderid}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="checkOrder()">Verzenden</button>
    </ion-nav-buttons>
    <ion-content lazy-scroll>
        <details-view></details-view>
        <history-view></history-view>
        <ticket-view></ticket-view>
        <subscription-view></subscription-view>
        <activities-view></activities-view>
        <photo-view></photo-view>
        <comment-view></comment-view>
        <complete-view></complete-view>
    </ion-content>
</ion-view>

<script id="modal" type="text/ng-template">
    <div ng-include="include"></div>
</script>