<ion-view side="center">
    <ion-nav-title side="center">Order No. {{order.orderid}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <!--<button class="button" ng-click="getPhoto()"><i class="icon ion-android-camera positive"></i></button>-->
        <button class="button positive">Opslaan</button>
        <button class="button">Verzenden</button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true">
        <div class="row nopadding">
            <ion-item class="col noborder nopadding">
                <ion-list type="list-inset">
                    <ion-item class="item-divider positive">
                        Werkordergegevens
                    </ion-item>
                    <div>
                        <ion-item class="row">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth">Order No.: </div>
                                    <div class="col bold"> {{order.orderid}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Plandatum: </div>
                                    <div class="col bold"> {{order.plandatum}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Omschrijving: </div>
                                    <div class="col bold"> {{order.omschrijving}}</div>
                                </ion-item>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-item>
            <ion-item class="col noborder nopadding">
                <ion-list type="list-inset">
                    <ion-item class="item-divider positive">
                        Klantgegevens
                    </ion-item>
                    <div>
                        <ion-item class="row">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Naam: </div>
                                    <div class="col bold"> {{order.klant.naam}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Telefoonnr: </div>
                                    <div class="col bold"> {{order.klant.telefoon}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> E-mailadres: </div>
                                    <div class="col bold"> {{order.klant.email}}</div>
                                </ion-item>
                                <ion-item class="row  noborder">
                                    <div class="col fixedwidth"> Aansluitadres: </div>
                                    <div class="col bold">{{order.klant.straat}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"></div>
                                    <div class="col bold">{{order.klant.postcode}}, {{order.klant.plaats}}</div>
                                </ion-item>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-item>
        </div>
        <ion-list type="list-inset" ng-show="showTickets">
            <ion-item class="item-divider positive" ng-click="toggle(0)">
                Ticketdetails
            </ion-item>
            <div ng-show="toShowArr[0]" class="cssFade">
                <ion-item class="row">
                    <div class="col">
                        <ion-item class="row item-text-wrap noborder">
                            <div class="col fixedwidth">Ticket ID:</div>
                            <div class="col bold">{{order.ticket.ticketid}}</div>
                        </ion-item>
                        <ion-item class="row item-text-wrap noborder">
                            <div class="col fixedwidth">Datum</div>
                            <div class="col bold">{{order.ticket.datum}}</div>
                        </ion-item>
                        <ion-item class="row item-text-wrap noborder">
                            <div class="col fixedwidth">Omschrijving:</div>
                            <div class="col bold">{{order.ticket.omschrijving}}</div>
                        </ion-item>
                    </div>
                </ion-item>
                <ion-item class="row noborder-top">
                    <div class="col">
                        <ion-item class="row item-text-wrap">
                            <div class="col bold fixedwidth-175">Datum</div>
                            <div class="col bold">Notitie</div>
                            <div class="col bold fixedwidth-175">Verantw.</div>
                        </ion-item>
                        <ion-item class="row item-text-wrap" ng-repeat="t in order.ticket.ticketregels" >
                            <div class="col fixedwidth-175">{{t.datum}}</div>
                            <div class="col" ng-click="showme = !showme" ng-show="showme">{{t.notitie | getSlice}}</div>
                            <div class="col" ng-click="showme = !showme" ng-show="!showme">{{t.notitie}}</div>
                            <div class="col fixedwidth-175">{{t.verantw}}</div>
                        </ion-item>
                    </div>
                </ion-item>
            </div>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive" ng-click="toggle(1)">
                Abonnementgegevens
            </ion-item>
            <div ng-show="toShowArr[1]" class="cssFade">
                <ion-item>
                    <div class="list list-inset nomargin-top">
                        <ion-item class="item-divider">
                            <i class="icon ion-ios-list-outline"></i> Abonnementregels
                        </ion-item>
                        <ion-item class="row item-text-wrap">
                            <div class="col fixedwidth bold">Type</div>
                            <div class="col bold">Product</div>
                            <div class="col fixedwidth bold">Status</div>
                        </ion-item>
                        <ion-item class="row item-text-wrap" ng-repeat="ar in order.klant.abonnement.abonnementregels">
                            <div class="col fixedwidth">{{ar.type}}</div>
                            <div class="col">{{ar.product}}</div>
                            <div class="col fixedwidth">{{ar.status}}</div>
                        </ion-item>
                    </div>
                    <ion-list type="list-inset">
                        <ion-item class="item-divider">
                            <i class="icon ion-wifi"></i> Internet
                        </ion-item>
                        <ion-item class="row">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Netwerk: </div>
                                    <div class="col bold"> {{order.klant.abonnement.internet.netwerk}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Snelheid: </div>
                                    <div class="col bold"> {{order.klant.abonnement.internet.snelheid}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> IP toewijzing: </div>
                                    <div class="col bold"> {{order.klant.abonnement.internet.iptoewijzing}}</div>
                                </ion-item>
                            </div>
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Login: </div>
                                    <div class="col bold"> {{order.klant.abonnement.internet.login}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Wachtwoord: </div>
                                    <div class="col bold"> {{order.klant.abonnement.internet.wachtwoord}}</div>
                                </ion-item>
                            </div>
                        </ion-item>                    
                    </ion-list>
                    <ion-list type="list-inset">
                        <ion-item class="item-divider">
                            <i class="icon ion-ios-monitor-outline"></i> Televisie
                        </ion-item>
                        <ion-item class="row">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Soort: </div>
                                    <div class="col bold"> {{order.klant.abonnement.televisie.soort}}</div>
                                </ion-item>
                            </div>
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Accountcode: </div>
                                    <div class="col bold"> {{order.klant.abonnement.televisie.accountcode}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Pincode: </div>
                                    <div class="col bold"> {{order.klant.abonnement.televisie.pincode}}</div>
                                </ion-item>
                            </div>
                        </ion-item>
                    </ion-list>
                    <ion-list type="list-inset">
                        <ion-item class="item-divider">
                            <i class="icon ion-ios-telephone"></i> Telefoon
                        </ion-item>
                        <ion-item class="row">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Telefoonnr: </div>
                                    <div class="col bold"> {{order.klant.abonnement.telefoon.telefoonnummer}}</div>
                                </ion-item>
                            </div>
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Login: </div>
                                    <div class="col bold"> {{order.klant.abonnement.telefoon.login}}</div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth"> Wachtwoord: </div>
                                    <div class="col bold"> {{order.klant.abonnement.telefoon.wachtwoord}}</div>
                                </ion-item>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </div>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive" ng-click="toggle(2)">
                Werkzaamheden
            </ion-item>
            <div ng-show="toShowArr[2]" class="cssFade">
                <ion-item>
                    <div class="list list-inset nomargin-top">
                        <ion-item class="item-divider">
                            <i class="icon ion-ios-list-outline"></i> Materialen
                                <button class="custombtn" ng-click="toggle(3);$event.stopPropagation()">
                                    <i class="icon ion-plus"></i>
                                </button>
                        </ion-item>
                        <ion-item class="row item-text-wrap" ng-show="toShowArr[4]">
                            <div class="col fixedwidth-60 bold">Aantal</div>
                            <div class="col bold">Naam</div>
                            <div class="col bold">Specificaties</div>
                        </ion-item>
                        <ion-item class="row item-text-wrap" ng-repeat="m in materialen.materialen">
                            <div class="col fixedwidth-60">{{m.aantal}}</div>
                            <div class="col">{{m.naam}}</div>
                            <div class="col">{{m.specificatie}}</div>
                        </ion-item>
                        <ion-item ng-show="toShowArr[3]" class="row item-text-wrap">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col col-center fixedwidth">Aantal:</div>
                                    <div class="col">
                                        <button class="aantal_btn left" ng-click="count(-1)"><i class="icon ion-minus"></i></button>
                                        <div class="aantal_input left bold">{{total}}</div>
                                        <button class="aantal_btn left" ng-click="count(1)"><i class="icon ion-plus"></i></button>
                                    </div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col col-center fixedwidth">Naam:</div>
                                    <div class="col">
                                        <button id="selectmateriaal" style="font-size: 16px" class="button button-small button-full button-positive" ng-click="toggle(5)">
                                            {{materiaal.naam || "Selecteer een materiaal..."}} <i class="icon ion-arrow-down-b"></i>
                                        </button>
                                        <ion-item class="row noborder nopadding">
                                            <div class="col nopadding cssFade" ng-repeat="row in activities.materialen" ng-show="toShowArr[5]">
                                                <div class="list">
                                                    <label class="item item-radio" ng-click="toShowArr[5]=false" ng-repeat="m in row">
                                                        <input type="radio" ng-model="$parent.materiaal.naam" name="materialen" ng-value="m">
                                                        <div class="item-content">
                                                            {{m}}
                                                        </div>
                                                        <i class="radio-icon ion-checkmark"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </ion-item>
                                        <label class="item item-input" ng-if="materiaal.naam == 'Anders, namelijk:'">
                                            <textarea id="naam" msd-elastic="\n" ng-model="foo" placeholder="Geef de naam van het materiaal op"></textarea>         
                                        </label>
                                    </div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth">Specificatie:</div>
                                    <div class="col">
                                        <label class="item item-input">
                                            <textarea id="specificatie_materiaal" msd-elastic="\n" ng-model="foo" placeholder="(Optioneel)"></textarea>         
                                        </label>
                                    </div>
                                </ion-item>
                            </div>
                            <div class="col col-center fixedwidth-60">
                                <button class="input_btn" ng-click="savemateriaal();toShowArr[5]=false"><h1 class="icon ion-checkmark-circled balanced"></h1></button><br/><br/>
                                <button class="input_btn" ng-click="resetmateriaal()"><h1 class="icon ion-ios-close assertive"></h1></button>
                            </div>
                        </ion-item>
                    </div>

                    <ion-list type="list-inset">
                        <ion-item class="item-divider">
                            <i class="icon ion-wrench"></i> Uitgevoerde werkzaamheden
                            <button class="custombtn" ng-click="toggle(6);$event.stopPropagation()">
                                <i class="icon ion-plus"></i>
                            </button>
                        </ion-item>
                        <ion-item class="row item-text-wrap" ng-show="toShowArr[7]">
                            <div class="col col-67 bold">Beschrijving</div>
                            <div class="col bold">Specificaties</div>
                        </ion-item>
                        <ion-item class="row item-text-wrap" ng-repeat="w in werkzaamheden.werkzaamheden">
                            <div class="col col-67">{{w.beschrijving}}</div>
                            <div class="col">{{w.specificatie}}</div>
                        </ion-item>
                        <ion-item ng-show="toShowArr[6]" class="row item-text-wrap">
                            <div class="col">
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col col-center fixedwidth">Beschrijving:</div>
                                    <div class="col">
                                        <button id="selectmateriaal" style="font-size: 16px" class="button button-small button-full button-positive" ng-click="toggle(8)">
                                            {{werkzaamheid.beschrijving || "Selecteer een werkzaamheid..."}} <i class="icon ion-arrow-down-b"></i>
                                        </button>
                                        <ion-item class="row noborder nopadding">
                                            <div class="col nopadding cssFade" ng-repeat="row in activities.werkzaamheden"  ng-show="toShowArr[8]">
                                                <div class="list">
                                                    <label class="item item-radio" ng-click="toShowArr[8]=false" ng-repeat="w in row">
                                                        <input type="radio" ng-model="$parent.werkzaamheid.beschrijving" name="werkzaamheden" ng-value="w">
                                                        <div class="item-content">
                                                            {{w}}
                                                        </div>
                                                        <i class="radio-icon ion-checkmark"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </ion-item>
                                        <label class="item item-input" ng-if="werkzaamheid.beschrijving == 'Anders, namelijk:'">
                                            <textarea id="beschrijving" msd-elastic="\n" ng-model="foo" placeholder="Beschrijving van de uitgevoerde werkzaamheid"></textarea>         
                                        </label>
                                    </div>
                                </ion-item>
                                <ion-item class="row item-text-wrap noborder">
                                    <div class="col fixedwidth">Specificatie:</div>
                                    <div class="col">
                                        <label class="item item-input">
                                            <textarea id="specificatie_werkzaamheid" msd-elastic="\n" ng-model="foo" placeholder="(Optioneel)"></textarea>         
                                        </label>
                                    </div>
                                </ion-item>
                            </div>
                            <div class="col col-center fixedwidth-60">
                                <button class="input_btn" ng-click="savewerkzaamheid();toShowArr[8]=false"><h1 class="icon ion-checkmark-circled balanced"></h1></button><br/><br/>
                                <button class="input_btn" ng-click="resetwerkzaamheid()"><h1 class="icon ion-ios-close assertive"></h1></button>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </div>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Foto's
                <button class="custombtn" ng-click="getPhoto($event)">
                    <i class="icon ion-plus"></i>
                </button>
            </ion-item>
            <ion-item>
                <img ng-src="assets/img/ionic.png" />
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Opmerkingen
            </ion-item>
            <ion-item>
                <label class="item item-input">
                    <textarea msd-elastic="\n" ng-model="foo" placeholder="Hier is ruimte voor eventuele opmerkingen"></textarea>
                </label>
            </ion-item>
        </ion-list>
        <ion-list type="list-inset">
            <ion-item class="item-divider positive">
                Afronding
            </ion-item>
            <ion-item class="row">
                <div class="col">
                    <ion-item class="row item-text-wrap noborder">
                        <div class="col fixedwidth"> Datum: </div>
                        <div class="col bold"> {{date | date:'dd-MM-yyyy'}}</div>
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder">
                        <div class="col fixedwidth">Naam monteur:</div>
                        <div class="col bold">Arno</div>
                        <!-- TO DO: aan de hand van de inloggegevens!!!-->
                    </ion-item>
                    <ion-item class="row item-text-wrap noborder">
                        <div class="col fixedwidth">Gewerkte uren:</div>
                        <div class="col bold">1</div>
                    </ion-item>
                    <ion-item class="noborder"></ion-item>
                    <ion-item class="row noborder nopadding">
                        <button class="button button-block button-stable nomargin-top">
                            Werkbon invullen
                        </button>
                    </ion-item>
                </div>
                <div class="col">
                    <div class="list list-inset nomargin-top">
                        <ion-item class="item-divider">
                            <i class="icon ion-ios-compose-outline"></i> Handtekening
                        </ion-item>
                        <ion-item ng-click="openModal('app/components/order/signature/signaturepadView.html', $event)">
                            <div class="signature padding" ng-switch="_signatureImage || '_undefined_'">
                                <img ng-switch-when="_undefined_" ng-src="assets/img/signature_placeholder.png" alt="" />
                                <img ng-switch-default ng-src="{{_signatureImage}}"  alt="" />
                            </div>
                        </ion-item>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<script id="modal" type="text/ng-template">
    <div ng-include="include"></div>
</script>